.container{
    display: flex;
    border: 1px solid red;
    flex-direction: column-reverse;
    flex-wrap: nowrap ;
}
.child1{
    border: 1px dotted green;
    height: 300px;
    width: 300px;
    background: gray;
}
.child2{
    border: 1px dotted rgb(20, 130, 138);
    height: 300px;
    width: 300px;
    background: rgb(167, 43, 43);
}
.child3{
    border: 1px dotted rgb(186, 212, 41);
    height: 300px;
    width: 300px;
    background: rgb(49, 192, 27);
}
.child4{
    border: 1px dotted rgb(78, 38, 148);
    height: 300px;
    width: 300px;
    background: rgb(78, 51, 186);
}